.NavbarContainer {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 2rem #0000001a;
    background-color: white;
    z-index: 1000;
}

.Hamburger {
    background: none;
    border: none;
    outline: none;
    display: none !important;
    margin-right: 1rem;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
    max-width: 80rem;
    margin: 0 auto;
}

.NavLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}

.NavLinks a {
    text-decoration: none;
    color: #7D7D7D;
    font-weight: 400;
    font-size: 0.9rem;
    transition: all 0.5s;
}

.NavLinks a:hover {
    color: var(--yellow);
}

.DonateButton1, .DonateButton2 {
    background: var(--yellow);
    padding: 0.5rem 0.8rem;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
    font-size: 0.9rem;
}

.DonateButton1 { display: none; }

@keyframes ham-menu1 {
    0% {
        line-height: 16px;
        transform: scaleY(1);
    }
    50% {
        line-height: 1px;
        transform: scaleY(1);
    }
    50.1% {
        line-height: 16px;
        transform: scaleY(0.2);
    }
    100% {
        line-height: 16px;
        transform: scaleY(1);
    }
}

@keyframes ham-menu2 {
    0% {
        line-height: 16px;
        transform: scaleY(1);
    }
    50% {
        line-height: 16px;
        transform: scaleY(0.2);
    }
    50.1% {
        line-height: 1px;
        transform: scaleY(1);
    }
    100% {
        line-height: 16px;
        transform: scaleY(1);
    }
}

@media only screen and (max-width: 900px) {
    .Hamburger {
        animation: ham-menu1 0.4s ease-in-out;
        display: inline-block !important;
    }
    .Hamburger:focus {
        animation: ham-menu2 0.4s ease-in-out;
        pointer-events: none;
    }

    .NavLinks {
        row-gap: 1rem;
        padding: 0;
        width: 100%;
        position: absolute;
        top: 4rem;
        left: 0;
        background: white;
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s;
    }

    .NavLinks a { opacity: 0; }

    .Hamburger:focus ~ .NavLinks {
        max-height: 100vh;
        padding: 2rem 0;
        box-shadow: 0 1rem 1rem #0000001a;
    }

    .Hamburger:focus ~ .NavLinks a { opacity: 1; }
}

@media only screen and (max-width: 600px) {
    .NavLinks {
        flex-direction: column;
    }
}


@media only screen and (max-width: 480px) {
    .Navbar { justify-content: flex-start; }
    .DonateButton1 { display: block; }
    .DonateButton2 { display: none; }
}