@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

body, html, input {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

:root {
  --yellow: #ffa500;
}

.slick-dots li button {
  display: flex;
  align-items: center;
}

.slick-dots li button::before {
  content: "";
    padding: 0;
    background-color: var(--yellow);
    opacity: 0.5;
    width: 0.8rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    transition: all 0.25s;
}

.slick-dots li.slick-active button::before {
  width: 1.5rem;
  opacity: 1;
  transform: translateX(-0.35rem);
}